
<!DOCTYPE html>
<html>
<head>
<title>Free CSS | Free CSS Templates | Demo of the HTML CSS Template Regna</title>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link rel="stylesheet" type="text/css" href="assets/css/plugins.css">
<link rel="stylesheet" type="text/css" href="assets/css/style.css">
<style type="text/css">
#freecssfooter{display:block;width:100%;padding:120px 0 20px;overflow:hidden;background-color:transparent;z-index:5000;text-align:center;}
#freecssfooter div#fcssholder div{display:none;}
#freecssfooter div#fcssholder div:first-child{display:block;}
#freecssfooter div#fcssholder div:first-child a{float:none;margin:0 auto;}
</style></head>
<body>
<script type="text/javascript">
(function(){
  var bsa = document.createElement('script');
     bsa.type = 'text/javascript';
     bsa.async = true;
     bsa.src = '//s3.buysellads.com/ac/bsa.js';
  (document.getElementsByTagName('head')[0]||document.getElementsByTagName('body')[0]).appendChild(bsa);
})();
</script>
<header id="header">
  <div class="container">
    <div id="logo" class="pull-left"><a href="#hero"><img src="assets/img/logo.png" alt="website template image"></img></a></div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Home</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li class="menu-has-children"><a href="javascript:void(0)">Drop Down</a>
          <ul>
            <li><a href="https://www.free-css.com/free-css-templates">Drop Down 1</a></li>
            <li class="menu-has-children"><a href="javascript:void(0)">Drop Down 2</a>
              <ul>
                <li><a href="https://www.free-css.com/free-css-templates">Deep Drop Down 1</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Deep Drop Down 2</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Deep Drop Down 3</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Deep Drop Down 4</a></li>
                <li><a href="https://www.free-css.com/free-css-templates">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="https://www.free-css.com/free-css-templates">Drop Down 3</a></li>
            <li><a href="https://www.free-css.com/free-css-templates">Drop Down 4</a></li>
            <li><a href="https://www.free-css.com/free-css-templates">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
<section id="hero">
  <div class="hero-container">
    <h1>Welcome to Regna</h1>
    <h2>We are team of talanted designers making websites with Bootstrap</h2>
    <a href="#about" class="btn-get-started">Get Started</a></div>
</section>
<main id="main">
  <section id="about">
    <div class="container">
      <div class="row about-container">
        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Few Words About Us</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fa fa-photo"></i></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fa fa-bar-chart"></i></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
      </div>
    </div>
  </section>
  <section id="facts">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Facts</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center"><span data-toggle="counter-up">232</span>
          <p>Clients</p>
        </div>
        <div class="col-lg-3 col-6 text-center"><span data-toggle="counter-up">521</span>
          <p>Projects</p>
        </div>
        <div class="col-lg-3 col-6 text-center"><span data-toggle="counter-up">1,463</span>
          <p>Hours Of Support</p>
        </div>
        <div class="col-lg-3 col-6 text-center"><span data-toggle="counter-up">15</span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Services</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-desktop"></i></a></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-bar-chart"></i></a></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-paper-plane"></i></a></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-photo"></i></a></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-road"></i></a></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Nemo Enim</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-shopping-bag"></i></a></div>
            <h4 class="title"><a href="https://www.free-css.com/free-css-templates">Eiusmod Tempor</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="call-to-action">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Call To Action</h3>
          <p class="cta-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="col-lg-3 cta-btn-container text-center"><a class="cta-btn align-middle" href="https://www.free-css.com/free-css-templates">Call To Action</a></div>
      </div>
    </div>
  </section>
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Portfolio</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter=".filter-app, .filter-card, .filter-logo, .filter-web" class="filter-active">All</li>
            <li data-filter=".filter-app">App</li>
            <li data-filter=".filter-card">Card</li>
            <li data-filter=".filter-logo">Logo</li>
            <li data-filter=".filter-web">Web</li>
          </ul>
        </div>
      </div>
      <div class="row" id="portfolio-wrapper">
        <div class="col-lg-3 col-md-6 portfolio-item filter-app"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/app1.jpg" alt="website template image">
          <div class="details">
            <h4>App 1</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-web"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/web2.jpg" alt="website template image">
          <div class="details">
            <h4>Web 2</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-app"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/app3.jpg" alt="website template image">
          <div class="details">
            <h4>App 3</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-card"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/card1.jpg" alt="website template image">
          <div class="details">
            <h4>Card 1</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-card"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/card2.jpg" alt="website template image">
          <div class="details">
            <h4>Card 2</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-web"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/web3.jpg" alt="website template image">
          <div class="details">
            <h4>Web 3</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-card"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/card3.jpg" alt="website template image">
          <div class="details">
            <h4>Card 3</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-app"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/app2.jpg" alt="website template image">
          <div class="details">
            <h4>App 2</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-logo"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/logo1.jpg" alt="website template image">
          <div class="details">
            <h4>Logo 1</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-logo"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/logo3.jpg" alt="website template image">
          <div class="details">
            <h4>Logo 3</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-web"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/web1.jpg" alt="website template image">
          <div class="details">
            <h4>Web 1</h4>
            <span>Alored dono par</span></div>
          </a></div>
        <div class="col-lg-3 col-md-6 portfolio-item filter-logo"><a href="https://www.free-css.com/free-css-templates"><img src="assets/img/portfolio/logo2.jpg" alt="website template image">
          <div class="details">
            <h4>Logo 2</h4>
            <span>Alored dono par</span></div>
          </a></div>
      </div>
    </div>
  </section>
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Team</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="assets/img/team-1.jpg" alt="website template image"></div>
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <div class="social"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-twitter"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-facebook"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-google-plus"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="assets/img/team-2.jpg" alt="website template image"></div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <div class="social"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-twitter"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-facebook"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-google-plus"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="assets/img/team-3.jpg" alt="website template image"></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-twitter"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-facebook"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-google-plus"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-linkedin"></i></a></div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="pic"><img src="assets/img/team-4.jpg" alt="website template image"></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social"><a href="https://www.free-css.com/free-css-templates"><i class="fa fa-twitter"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-facebook"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-google-plus"></i></a> <a href="https://www.free-css.com/free-css-templates"><i class="fa fa-linkedin"></i></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Contact</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22864.11283411948!2d-73.96468908098944!3d40.630720240038435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2sNew+York%2C+NY%2C+USA!5e0!3m2!1sen!2sbg!4v1540447494452" width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="container wow fadeInUp mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div><i class="fa fa-map-marker"></i>
              <p>A108 Adam Street<br>
                New York, NY 535022</p>
            </div>
            <div><i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>
            <div><i class="fa fa-phone"></i>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>
          <div class="social-links"><a href="https://www.free-css.com/free-css-templates" class="twitter"><i class="fa fa-twitter"></i></a> <a href="https://www.free-css.com/free-css-templates" class="facebook"><i class="fa fa-facebook"></i></a> <a href="https://www.free-css.com/free-css-templates" class="instagram"><i class="fa fa-instagram"></i></a> <a href="https://www.free-css.com/free-css-templates" class="google-plus"><i class="fa fa-google-plus"></i></a> <a href="https://www.free-css.com/free-css-templates" class="linkedin"><i class="fa fa-linkedin"></i></a></div>
        </div>
        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="#" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center">
                <button type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<footer id="footer">
  <div class="footer-top">
    <div class="container"></div>
  </div>
  <div class="container">
    <div class="copyright">&copy; Copyright <strong>Regna</strong>. All Rights Reserved</div>
    <div class="credits">Designed by <a target="_blank" rel="nofollow noopener" href="//bootstrapmade.com/">BootstrapMade</a></div>
  </div>
</footer>
<a href="javascript:void(0)" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery-migrate.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/easing.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/counterup.min.js"></script>
<script src="assets/js/hoverIntent.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/main.js"></script>
<div id="freecssfooter">
  <div id="fcssholder">
    <div id="bsap_2365" class="bsarocks bsap_b893e54e42ad5b76e7b252f59be18e67"></div>
  </div>
</div>
<script type="text/javascript">
var gaProperty = 'UA-120201777-1';var disableStr = 'ga-disable-' + gaProperty;if (document.cookie.indexOf(disableStr + '=true') > -1) {window[disableStr] = true;}
function gaOptout(){document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2045 23:59:59 UTC; path=/';window[disableStr] = true;alert('Google Tracking has been deactivated');}
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-120201777-1', 'auto');ga('set', 'anonymizeIp', true);ga('send', 'pageview');
</script>
</body>
</html>