<html lang="tr">
  <style>
#myHeader {
  background-color: lightblue;
  color: black;
  padding: 40px;
  text-align: center;
}
    recndrenk {
      color: red;
    }
</style>

<h1 id="myHeader">Neden 2 Saniye Kuralı?</h1>
<style>
#2saniyeneden {
  background-color: lightblue;
  color: red;
  padding: 10px;
  text-align: center;
}
</style>
<p><font face="arial" size="3" color="maroon">
<h2 id="2saniyeneden">Sunucunuzdaki hacker düzeni dağıtmasını engellemek için Herhangi bir komut kullanımını 2 ila sınırladık.<p>
  Bu hem Sunucunuz hemde bizler için bir Tedbirdir.<p>
  Yanlış yaptığımızı Düşünüyorsan <recndrenk>Lütfen </recndrenk><a href="/ticket">Buraya Tıklıyarak</a> Belirtiniz.
  </p> </h2>
  <div>
    
  </div>
<div align="center">  <img src ="https://cdn.glitch.com/b4461815-6269-4205-bdf3-0e435d2a71c0%2Fthumbnails%2F2sn.png" alt="Hai"/>